{% extends 'base.html' %}
{% load static %}


{% block title %}لیست نظرات فروشنده{% endblock title %}

<!-- Add your Content Here -->
{% block content %}



<table>
    <thead>
        
        <tr>
            <th>Name</th>
            <th>seller name</th>
            <th>text</th>
        </tr>
    </thead>
    
    <tbody>
        
        {%for comment in comments %}
            <tr>
                <td>{{comment.name}}</td>
                <td>{{seller.name}}</td>
                <td>{{comment.text}}</td>

            </tr>
            
        {%endfor%}
    </tbody>        
</table> 

   

{% endblock content %}
