<!-- Template for displaying a list of pineapples sold by Mr. Zahmatkesh. -->

{% extends 'base.html' %}
{% load static %}

{% block title %}آناناس فروشی آقای زحمتکش{% endblock title %}

{% block content %}
<h1>آناناس فروشی آقای زحمتکش</h1>
<table>
  <thead>
    <tr>
      <th>قیمت هر آناناس</th>
      <th>کد گواهی فروشنده‌ی این آناناس</th>
    </tr>
  </thead>
  <tbody>
    {% for pineapple in pineapples %}
    <tr>
      <td>{{ pineapple.price_toman }}</td>
      <td>{{ pineapple.seller.certificate_code }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">آناناسی موجود نیست.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
