<!-- Template for displaying a list of pineapple sellers. -->

{% extends 'base.html' %}
{% load static %}

{% block title %}لیست فروشندگان{% endblock title %}

{% block content %}
<h1>لیست فروشندگان</h1>
<table>
  <thead>
    <tr>
      <th>نام آناناس فروشان</th>
      <th>کد گواهی کسب</th>
      <th>بیست کاراکتر از آدرس فروشندگان</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in sellers %}
    <tr>
      <td>{{ seller.name }}</td>
      <td>{{ seller.certificate_code }}</td>
      <td>{{ seller.address|slice:":20"  }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">هیج فروشنده ای وجود ندارد.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
