{% extends 'base.html' %}
{% load static %}

{% block title %}صفحه داخلی سفارش{% endblock title %}

{% block content %}
    <h1>صفحه داخلی سفارش</h1>
    <p><strong>نام سفارش‌دهنده: </strong>{{ order.name }}</p>
    <p><strong>نام فروشنده: </strong>{{ order.pineapple.seller.name }}</p>
    <p><strong>وزن کالا: </strong>{{ order.weight_kg }}</p>
    {% widthratio order.weight_kg 1 order.pineapple.price_toman as final_price %}
    <p><strong>قیمت نهایی کالا: </strong>{{ final_price }}</p>
{% endblock content %}