{% extends 'base.html' %}
{% load static %}

{% block title %}لیست سفارشات{% endblock title %}

{% block content %}
    <h1>لیست سفارشات</h1>
    <table>
        <thead>
            <tr>
                <th>نام سفارش‌دهنده</th>
                <th>نام فروشنده</th>
                <th>وزن کالا</th>
                <th>قیمت نهایی کالا</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.pineapple.seller.name }}</td>
                    <td>{{ order.weight_kg }}</td>
                    {% widthratio order.weight_kg 1 order.pineapple.price_toman as final_price %}
                    <td>{{ final_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}